.a1{
	width: 100px;
	height: 100px;
	-webkit-background-size: 100%;
	background-size: 100%;
	background: url(../images/a1.png?__spriter);
}
.a3{
	width: 100px;
	height: 100px;
	-webkit-background-size: 100%;
	background-size: 100%;
	background: url(../images/a3.png?__spriter);
}